#virtual environment
ge_venv/

#Great Expectations
great_expectations/checkpoints

great_expectations/expectations/.ge_store_backend_id
great_expectations/plugins

great_expectations/uncommitted/config_variables.yml
great_expectations/uncommitted/validations